.navbar {
    height: 3.5rem;
    background-color: #f8f9fa;
    padding: 0 1rem;
    
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .navbar-toggler {
    display: flex;
    border: none;
    background-color: transparent;
  }
  
  .navbar-toggler-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .collapse.navbar-collapse {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .nav-item {
    margin-right: 1rem;
  }
  
  .nav-link {
    font-size: 1rem;
    color: #333;
    text-decoration: none;
  }
  
  .btn-group {
    margin: 0rem 1rem;
  }
  
  .btn-info {
    border: 2px solid aquamarine;
    color: antiquewhite;
    height: 2.5rem;
    margin-top: 0.3rem;
  }
  
  .dropdown-menu {
    cursor: pointer;
  }
  
  .dropdown-item {
    font-size: 0.875rem;
    color: #333;
    padding: 0.25rem 1rem;
  }
  
  .dropdown-divider {
    margin: 0.5rem 0;
  }
  
  .form-control {
    height: 2.5rem;
    width: 7rem;
    margin-top: 0.3rem;
  }
  
  .btn-outline-success {
    border: 2px solid aquamarine;
    color: aliceblue;
    font-family: cursive;
    height: 2.5rem;
    margin-top: 0.3rem;
  }
  